*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	background-color: gray;
}

h2{
	margin: 0;
	text-shadow: 0 0 20px #fefcc9, 
	10px -10px 30px #feec85, 
	-20px -20px 40px #ffae34, 
	20px -40px 50px #ec760c, 
	-20px -60px 60px #cd4606, 
	0 -80px 70px #973716, 
	10px -90px 80px #451b0e;
}

.inner_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: black;
	margin: 0;	
}

.logo{
	width: 50px;
	height: 50px;
	padding: 5px;
	padding-bottom: 0px;
}

.logo_text{
	padding-left: 10px;
	font-size: 30px;
	color: white;
	color: #ffffff;
 	text-shadow: 0 0 5px #ffffff, 
 	0 0 10px #ffffff, 0 0 20px #ffffff, 
 	0 0 40px #ff0000, 0 0 80px #ff0000, 
 	0 0 90px #ff0000, 0 0 100px #ff0000, 
 	0 0 150px #ff0000;
}

.nav {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
 	text-shadow: 0 0 5px #ffffff, 
 	0 0 10px #ffffff, 0 0 20px #ffffff, 
 	0 0 40px #ff0000, 0 0 80px #ff0000, 
 	0 0 90px #ff0000, 0 0 100px #ff0000, 
 	0 0 150px #ff0000;
}

.navh{
	display: none;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 10px 30px;
	color: white;
	text-decoration: none;
}

.bmth_img{
	width: 100%;
	padding-top: 10px;
}

.container{
	display: grid; 
    grid-template-columns: 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
}

.text{
	color: #470000;
	font-size: 25px;
}

.img{
	width: 100%;
	border: 2px solid black;
}

.sidebar_img{
	width: 100%;
	max-width: 300px;
	border: 2px solid black;
}

.sidebar_text{
	color: #470000;
	font-size: 20px;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
	padding: 15px;
}

.f_text1{
	color: white;
	font-size: 20px;
	padding-left: 5px;	
}

.f_logo{
	width: 100%;
	max-width: 50px;
	padding-left: 15px;
}

.f_text2{
	font-size: 20px;
	color: white;
	padding-left: 5px;	
}

.button {
width:100px;
border:2px solid black;
background:red;
text-align:center;
padding:10px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
color:black;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

.menu{
	display: none;
}

.menuh{	
	max-width: 50px;
	height: 45px;
	margin-top: 5px;
}

.conth{
	display: none;
}

.hidden_link{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
 	text-shadow: 0 0 5px #ffffff, 
 	0 0 10px #ffffff, 0 0 20px #ffffff, 
 	0 0 40px #ff0000, 0 0 80px #ff0000, 
 	0 0 90px #ff0000, 0 0 100px #ff0000, 
 	0 0 150px #ff0000;
}

.conth{
	display:none;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100px;
	margin: 0;
	padding-left: 10px;
	justify-content: space-between;
}
    
@media screen and ( max-width: 480px){
	.container{
		display: flex;
		flex-wrap: wrap;
	}

	.sidebar{
		text-align: center;
	}

	.text{
		color: #470000;
		font-size: 20px;
	}

	.footer{
		display: flex;
		flex-wrap: wrap;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.f_text1{
		color: white;
		font-size: 15px;
		padding-left: 5px;
	}

	.f_logo{
		width: 100%;
		max-width: 70px;
		padding: 10px;
	}

	.f_text2{
	font-size: 15px;
	color: white;
	padding-left: 5px;
	}

	.f_logo{
		padding-left:15px;
	}

	.button {
	width:70px;
	border:2px solid black;
	background:red;
	text-align:center;
	padding:8px;
	position:fixed;
	bottom:40px;
	right:40px;
	cursor:pointer;
	color:black;
	font-family:verdana;
	font-size:10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	}	

	.nav{
		display: none;
	}

	.menu{
		display: flex;
		width: 100%;
		max-width: 50px;
	}
}